// Color variables
$color-purple: #472183;
$color-blue: #4b56d2;
$color-lightblue: #82c3ec;
$color-grey: #e2e6e5;
$color-black: #121212;
$color-white: #ffffff;

// Margins and paddings
$padding-in-container: 30px;

// Transitions
$transition-hover: 0.2s ease-in-out;
